<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <p class="title is-size-4 has-text-light maintitle">
            GrandMa's Kitchen
        </p>
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>  
    <div id="navbarBasicExample" class="navbar-menu">      
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-outlined is-success" href="/signup">
              <strong>Sign up</strong>
            </a>
            <a class="button is-outlined is-light" href="/login">
              Log in
            </a>
            <a class="button is-outlined is-danger" href="/about">
                About
              </a>
          </div>
        </div>
      </div>
    </div>
  </nav>