<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password forgotten</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/superhero/bulmaswatch.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<%- include('partials/header'); %>
<body>
    <h1 class="title has-text-centered has-text-light">RESET YOUR PASSWORD</h1>
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-half">
                <div class="content has-text-centered">
                    <form action="/forgot" method="POST">
                        <div class="field">
                            <label class="label has-text-light">NAME :</label>
                            <div class="control">
                              <input class="input is-info" type="text" placeholder="username" name="username">
                            </div>
                          </div>
                          <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                              <button class="button is-info" type="submit">Reset</button>
                            </div>
                          </div>
                    </form>
                    <p class="subtitle has-text-6 has-text-light is-pulled-left">No Account ? <a href="/signup" class="has-text-success ">Sign Up</a></p>
                </div>
            </div>
            <div class="column is-half">
                <img src="img/gifh.gif" alt="gif accueil">
            </div>
        </div>
    </div>

</body>