<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/superhero/bulmaswatch.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <%- include('partials/header'); %>
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-half">
                        <div class="content has-text-centered">
                            <h1 class="title is-size-1 has-text-light">
                                Welcome To Grandma 's Kitchen
                            </h1>
                            <h3 class="is-size-3 has-text-light">
                                Buon Appetito !!!
                            </h3>
                            <a href="" >
                                <img src="bulma-stickers/made-with-bulma.png" width="128" height="24">
                            </a>
                        </div>
                    </div>
                    <div class="column is-half">
                        <img src="img/gifh.gif" alt="gif accueil">
                    </div>
                </div>
            </div>
            <!-- <%- include('partials/footer'); %> -->
</body>
</html>