<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= currentUser.username %>'s dashboard</title>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/superhero/bulmaswatch.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<header>
  <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <p class="title is-size-4 has-text-light maintitle">
          GrandMa's Kitchen
        </p>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item has-text-6 has-text-success connected-user" href="/dashboard">
          Logged as  <%= currentUser.username.toUpperCase() %>
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <a class="button is-outlined is-light" href="/dashboard/myrecipes">
            Recipes
          </a>
        </div>
        <div class="navbar-item">
          <a class="button is-outlined is-light" href="/schedule">
            Schedule
          </a>
        </div>
      </div>
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-outlined is-danger" href="/about">
            About
          </a>
          <a class="button is-outlined is-warning is-rounded" href="/logout">
            Log out
          </a>
        </div>
      </div>
    </div>
    </div>
  </nav>
</header>
<body>
    <section class="section  has-text-centered">
      <h1 class="title has-text-centered has-text-warning is-size-3">Add a favourite Recipe</h1>
    </section>
    <div class="container">
        <div class="columns">
            <div class="column is-offset-one-quarter is-half">
                <form action="/dashboard/favorites" method="post">
                    <div class="field">
                        <div class="control">
                            <label for="" class="label has-text-centered">
                                favorite name :
                            </label>
                            <input type="text" name="title" class="input" placeholder="favourite name...">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label for="" class="label has-text-centered">
                                favorite image URL :
                            </label>
                            <input type="text" name="image" class="input" placeholder="favourite name...">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control has-text-centered"><label for="" class="label">Add a Description :</label>
                        <textarea name="description" cols="30" rows="5" class="textarea">
                            
                        </textarea>
                    </div>
                    </div>
                    <div class="field is-grouped is-grouped-centered">
                        <button type="submit" class="button is-success is-outlined">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>